<!-- only show line numbers when there is more than one line or specific it manually -->
{{- $classStr := "language-%s" }}
{{- $lineCount := len (split .Inner "\n") -}}
{{- if gt $lineCount 1 }}
  {{- $classStr = print "line-numbers " print $classStr  }}
{{- else -}}
  {{- $classStr = print "no-line-numbers " print $classStr  }}
{{- end }}

{{- $attributes := .Attributes }}
{{- $title :=index (split .Type "::") 1 | default .Type -}}
{{- $type :=index (split .Type "::") 0 | default .Type -}}
{{- $classes := slice (printf $classStr $type) .Attributes.class }}
{{- $attributes = merge $attributes (dict "class" (delimit $classes " ") "title" $title) -}}
<pre
  {{- range $k, $v := $attributes }}
    {{- printf " %s=%q" $k $v | safeHTMLAttr }}
  {{- end -}}
>
<code>
{{- .Inner -}}
</code>
</pre>
{{- .Page.Store.Set "hasCodeBlock" true }}