// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

div[id^=flow_] {
  text-align:center
}

div[id^=sequence_] {
  text-align:center
}

.mermaid {
  text-align:center
}

.highcharts {
   border: 1px dashed #c9c9c9;
}