// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

div[id^=flow_] {
  text-align:center;
  border: 1px dashed #c9c9c9;
}

div[id^=sequence_] {
  text-align:center;
  border: 1px dashed #c9c9c9;
}

.mermaid {
  text-align:center;
  border: 1px dashed #c9c9c9;
}

.highcharts {
   border: 1px dashed #c9c9c9;
}

figure {
    margin: 1em 40px;
	display: block;
}

figure.center {
    text-align: center;
}

figure img {
  border: 0
}

figure figcaption h4 {
    color: #b5b5b5;
    font-size: .9rem;
}