{{- define "title" }}{{ T "archive" }} - {{ .Site.Title }}{{ end -}}
{{- define "content" }}
   
   	<input id="toggle-on" class="toggle toggle-left" name="toggle" value="false" type="radio" checked>
	<label for="toggle-on" class="toggle-btn">列表</label>
	<input id="toggle-off" class="toggle toggle-right" name="toggle" value="true" type="radio">
	<label for="toggle-off" class="toggle-btn">统计</label>
    
	<div class="toggle-on-content">
	    {{ partial "section_list.html" . }}
	</div>
	
	<div class="toggle-off-content">
	   	{{ partial "section_chart.html" . }}
	</div>
   
{{- end }}