@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  
  &:after {
    clear: both;
  }
}

@mixin min-screen($min-width: $global-body-width) {
   @media screen and (min-width: $min-width) {
     @content;
   }
}

@mixin max-screen($max-width: $global-body-width) {
   @media screen and (max-width: $max-width) {
     @content;
   }
}


.toggle-btn {
    border: 2px solid $theme-color;
    display: inline-block;
    padding: 1px 5px;
    position: relative;
    text-align: center;
    transition: background 600ms ease, color 600ms ease;
}

.toggle-left:checked ~ .toggle-off-content{
  display: none;
}

.toggle-right:checked ~ .toggle-on-content,
.toggle-right:checked ~ .toggle-off-content .archive-title {
  display: none;
}



input[type="radio"].toggle {
    display: none;
    & + label{
        cursor: pointer;
        min-width: 100px;
        &:hover{
            background: none;
            color: #1a1a1a;
        }
        &:after{
            background: $theme-color;
            content: "";
            height: 100%;
            position: absolute;
            top: 0;
            transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
            width: 100%;
            z-index: -1;
        }
    }
    &.toggle-left + label {
        border-right: 0;
        &:after{
            left: 100%
        }
    }
    &.toggle-right + label{
        margin-left: -5px;
        &:after{
            left: -100%;
        }
    }
    &:checked + label {
        cursor: default;
        color: #fff;
        transition: color 200ms;
        &:after{
            left: 0;
        }
    }
}