{{ $terms := .Data.Terms.ByCount -}}
{{ $tagCount := dict -}}
{{range $name, $taxonomy := .Site.Taxonomies.tags -}} 
	{{ $tagCount = merge $tagCount (dict $name .Count) -}}
{{end}}
{{ $data := slice -}}
{{ $heatData := slice -}}
{{ range $key, $value := $terms -}}
	 {{ $tags := (slice) }} 
	 {{ range $k1, $v1 := $value.Pages -}}
		  {{ range $k2, $v2 := $v1.Params.tags -}}
				{{ $tag := $v2 | lower -}}
				{{ $tags = union $tags ( slice $tag ) -}}
		  {{ end -}}
	 {{ end -}}
	 {{ $subData := slice -}}
	 {{ $heatCateTotal := 0 -}}
	 
	 {{- $cateName := $value.Term -}}
	 {{- $cateId := print "cate-" print $cateName -}}
	 {{- $cateColor := math.Rand | mul 10 | math.Floor -}}
	 
	 {{ range $kt, $vt := $tags -}}
	     {{- $heatTagCount := (int (index $tagCount $vt)) -}}
		 {{- $heatCateTotal = add $heatCateTotal $heatTagCount -}}
		 {{- $subData = $subData | append (dict "name" $vt "value" $heatTagCount) -}}
		 
		 {{- $tagId := print $cateName print "-" print $vt -}}
		 {{- $heatTagData := dict "name" $vt "id" $tagId "color" $cateColor "value" $heatTagCount "parent" $cateId -}}
		 {{- $heatData = $heatData | append $heatTagData -}}
	 {{ end -}}
	 {{- $cateData := dict "name" $cateName "data" $subData -}}
	 {{- $heatCateData := dict "name" $cateName "id" $cateId "color" $cateColor "value" $heatCateTotal -}}
	 {{- $heatData = $heatData | append $heatCateData -}}
	 {{ $data = $data | append $cateData -}}
{{ end -}}
<style type="text/css">
  .chart_style{
     margin-top:30px;
	 border:1px dashed #a9a4a4;
  }
</style>
<div id="category_heat_chart" class="chart_style"></div>
<div id="category_bubble_chart" class="chart_style"></div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/treemap.js"></script>
<script type="text/javascript">
	Highcharts.chart('category_bubble_chart', {
    chart: {
        type: 'packedbubble',
        height: '70%'
    },
    colors: [ "#16982B","#2caffe", "#544fc5", "#00e272", "#fe6a35"],
    title: {
        text: '',
    },
	legend:{ 
       enabled:true
    },
    tooltip: {
        useHTML: true,
        pointFormat: '<b>{point.name}:</b> {point.value}'
    },
	responsive: {  
	  rules: [{  
		condition: {  
		  maxWidth: 500  
		},  
		chartOptions: {  
		  legend: {  
			enabled: false  
		  }  
		}  
	  }]  
	},
    plotOptions: {
        packedbubble: {
            minSize: '20%',
            maxSize: '100%',
            zMin: 0,
            zMax: 1000,
            layoutAlgorithm: {
                gravitationalConstant: 0.05,
                splitSeries: true,
                seriesInteraction: false,
                dragBetweenSeries: true,
                parentNodeLimit: true
            },
            dataLabels: {
                enabled: true,
                format: '{point.name}',
                filter: {
                    property: 'y',
                    operator: '>',
                    value: 10
                },
                style: {
                    color: 'black',
                    textOutline: 'none',
                    fontWeight: 'normal'
                }
            }
        }
    },
	series: JSON.parse({{ jsonify $data }})
});
let random = (Math.random() * 10 ) << 0;
let heatData = JSON.parse({{ jsonify $heatData }});
heatData = heatData.map(item => {
  return {
    ...item,
    color: Highcharts.getOptions().colors[(item['color'] + random)%10]
  };
});
Highcharts.chart('category_heat_chart', {
	series: [{
		name: '分类',
		type: 'treemap',
		layoutAlgorithm: 'squarified',
		allowDrillToNode: true,
		animationLimit: 1000,
		dataLabels: {
			enabled: false
		},
		levels: [{
			level: 1,
			dataLabels: {
				enabled: true
			},
			borderWidth: 3,
			levelIsConstant: false
		}, {
			level: 1,
			dataLabels: {
				style: {
					fontSize: '14px'
				}
			}
		}],
		accessibility: {
			exposeAsGroupOnly: true
		},
		data: heatData
	}],
	title:{
      text:''
    }
});
</script>