<!-- 按年统计 -->
{{ $yearAddLineData := slice -}}
{{ $yearAddPieData := slice -}}
{{ $yearTotalData := slice -}}
{{ $yearTotal := 0 -}}
{{ $yearData := slice -}}
{{- range (.Site.RegularPages.GroupByDate "2006" "asc") -}}
    {{ $yearValue := (len (where .Pages "Section" "post")) -}}
	{{ $yearAddLineData = $yearAddLineData | append $yearValue -}}
    {{ $yearAddPieData = $yearAddPieData | append (dict "name" .Key "y" $yearValue) -}}
	{{ $yearTotal = add $yearTotal $yearValue -}}
	{{ $yearTotalData = $yearTotalData | append $yearTotal -}}
	{{ $yearData = $yearData | append .Key -}}
{{ end -}}

<!-- 按月统计 -->
{{ $monthYearMapData := dict -}}
{{ $monthAddData := slice -}}
{{ $monthTotalData := slice -}}
{{ $monthTotal := 0 -}}
{{ $monthData := slice -}}
{{- range (.Site.RegularPages.GroupByDate "2006-01" "asc") -}}
    {{ $yearIndex := index (split .Key "-") 0 -}}
	{{ $monthIndex := strings.TrimLeft "0" (index (split .Key "-") 1) -}}
	{{ $dataIndex := (print $yearIndex "-" $monthIndex) -}}
	{{ $monthValue := (len (where .Pages "Section" "post")) -}}
	
	{{ $month := ((print .Key "-01") | time.AsTime).UnixMilli -}} 
    {{ $monthAddData = $monthAddData | append $monthValue -}}
	{{ $monthTotal = add $monthTotal $monthValue -}}
	{{ $monthTotalData = $monthTotalData | append $monthTotal -}}
	{{ $monthData = $monthData | append .Key -}}
	
	{{ $monthYearMapData = merge $monthYearMapData (dict $dataIndex $monthValue) -}}
{{ end -}}

<!-- 按月和年统计 -->
{{ $monthYearData := slice -}}
{{- range seq 12 -}}
	{{ $monthValue := slice -}}
	{{ $seqIndex := . -}}
	{{- range $yearData -}}
	        {{ $ymIndex := (print . "-" $seqIndex) -}}
			{{ $value := (default 0 (index $monthYearMapData $ymIndex)) -}}
	        {{ $monthValue = $monthValue | append $value -}}
	{{ end -}}
    {{ $monthYearData = $monthYearData | append (dict "name" . "data" $monthValue) -}}
{{ end -}}

<style type="text/css">
  .chart_style{
     margin-top:30px;
	 border:1px dashed #a9a4a4;
  }
</style>
<div id="section_year_chart_1" class="chart_style"></div>
<div id="section_month_chart_1" class="chart_style"></div>
<div id="section_year_chart_2" class="chart_style"></div>
<div id="section_month_chart_2" class="chart_style"></div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script type="text/javascript">
Highcharts.chart('section_year_chart_1', {
    chart: {
        zoomType: 'xy'
    },
    title: {
        text: '按年统计'
    },
    xAxis: [{
        categories: JSON.parse({{ jsonify $yearData -}}),
        crosshair: true
    }],
    yAxis: [{ // Primary yAxis
        labels: {
            format: '{value} 篇',
            style: {
                color: "#16982b"
            }
        },
        title: {
            text: '按年新增',
            style: {
                color:"#16982b"
            }
        }
    }, { // Secondary yAxis
        title: {
            text: '按年累计',
            style: {
                color: "#0047AB"
            }
        },
        labels: {
            format: '{value} 篇',
            style: {
                color: "#0047AB"
            }
        },
        opposite: true
    }],
    tooltip: {
        shared: true
    },
	responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    },
    series: [{
        name: '按年新增',
        type: 'column',
		color:"#16982b",
        yAxis: 1,
        data: JSON.parse({{ jsonify $yearAddLineData -}}),
        tooltip: {
            valueSuffix: ' 篇'
        }
    },
	{
        name: '按年累计',
		color:"#0047AB",
        type: 'spline',
        data: JSON.parse({{ jsonify $yearTotalData -}}),
        tooltip: {
            valueSuffix: ' 篇'
        }
    }]
});
Highcharts.chart('section_year_chart_2', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: '按年统计'
    },
    tooltip: {
        pointFormat: '数量:{point.y}<br/>百分比:{point.percentage:.1f} %'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
		    showInLegend: true,
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '{point.percentage:.1f} %'
            }
        }
    },
    legend: {
        labelFormatter:function(){
           return this.name + "年";
        }
    },
	responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    },
    series:[{
	    name: '百分比统计',
        colorByPoint: true,
        data: JSON.parse({{ jsonify $yearAddPieData -}})
	}] 
});
Highcharts.chart('section_month_chart_1', {
    chart: {
        zoomType: 'xy'
    },
    title: {
        text: '按月统计'
    },
    xAxis: [{
        categories: JSON.parse({{ jsonify $monthData -}}),
		crosshair: true,
        labels:{
           step: 10
        }
    }],
    yAxis: [{ // Primary yAxis
        labels: {
            format: '{value} 篇',
            style: {
                color: "#16982b"
            }
        },
        title: {
            text: '按月新增',
            style: {
                color: "#16982b"
            }
        }
    }, { // Secondary yAxis
        title: {
            text: '按月累计',
            style: {
                color: "#0047AB"
            }
        },
        labels: {
            format: '{value} 篇',
            style: {
                color: "#0047AB"
            }
        },
        opposite: true
    }],
    tooltip: {
        shared: true
    },
	responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    },
    series: [{
        name: '按月新增',
		color:"#16982b",
        type: 'column',
        data: JSON.parse({{ jsonify $monthAddData -}}),
        tooltip: {
            valueSuffix: ' 篇'
        }
    },
	{
        name: '按月累计',
        type: 'spline',
		color:"#0047AB",
        yAxis: 1,
        data: JSON.parse({{ jsonify $monthTotalData -}}),
        tooltip: {
            valueSuffix: ' 篇'
        }

    }]
});
Highcharts.chart('section_month_chart_2', {
    chart: {
        type: 'column'
    },
    title: {
        text: '基于年份按月统计',
    },
    xAxis: {
        categories: JSON.parse({{ jsonify $yearData -}})
    },
    yAxis: {
        min: 0,
        title: {
            text: '篇'
        },
        stackLabels: {
            enabled: true
        }
    },
    legend: {
        labelFormatter:function(){
           return this.name + "月份";
        }
    },
    tooltip: {
        headerFormat: '<b>{point.x}</b><br/>',
        pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
    },
    plotOptions: {
        column: {
            stacking: 'normal',
            dataLabels: {
                enabled: true,
				formatter: function(){
                    var val = this.y;
                    if (val < 0) {
                        return '';
                    }
                    return val;
                }
            }
        }
    },
	responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    },
    series: JSON.parse({{ jsonify $monthYearData -}})
});
</script>