<!-- 按年统计 -->
{{ $yearAddLineData := slice -}}
{{ $yearAddPieData := slice -}}
{{ $yearTotalData := slice -}}
{{ $yearTotal := 0 -}}
{{ range (.Site.RegularPages.GroupByDate "2006" "asc") -}}
	{{ $yearAddLineData = $yearAddLineData | append (len (where .Pages "Section" "post")) -}}
    {{ $yearAddPieData = $yearAddPieData | append (dict "name" .Key "y" (len (where .Pages "Section" "post"))) -}}
	{{ $yearTotal = add $yearTotal (len (where .Pages "Section" "post")) -}}
	{{ $yearTotalData = $yearTotalData | append $yearTotal -}}
{{ end -}}

<!-- 按月统计 -->
{{ $monthAddData := slice -}}
{{ $monthTotalData := slice -}}
{{ $monthTotal := 0 -}}
{{ range (.Site.RegularPages.GroupByDate "2006-01" "asc") -}}
	{{ $month := ((print .Key "-01") | time.AsTime).UnixMilli -}} 
    {{ $monthAddData = $monthAddData | append (dict "x" $month "y" (len (where .Pages "Section" "post"))) -}}
	{{ $monthTotal = add $monthTotal (len (where .Pages "Section" "post")) -}}
	{{ $monthTotalData = $monthTotalData | append (dict "x" $month "y" $monthTotal) -}}
{{ end -}}
<style type="text/css">
  .chart_style{
     margin-top:30px;
	 border:1px dashed #a9a4a4;
  }
</style>
<div id="section_year_chart_1" class="chart_style"></div>
<div id="section_month_chart" class="chart_style"></div>
<div id="section_year_chart_2" class="chart_style"></div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script type="text/javascript">
Highcharts.chart('section_year_chart_1', {
    chart: {
        type: 'line'
    },
    title: {
        text: '按年统计'
    },
    yAxis: {
        title: {
            text: '篇'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: true,
            pointStart: 2016
        }
    },
    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    },
    series: [
	  {
        name: '按年新增',
	    color:"#0047AB",
        data: JSON.parse({{ jsonify $yearAddLineData }})
      },
	  {
        name: '按年累计',
	    color:"#16982b",
        data: JSON.parse({{ jsonify $yearTotalData }})
      }
	]
});
Highcharts.chart('section_year_chart_2', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: '按年统计'
    },
    tooltip: {
        pointFormat: '数量:{point.y}<br/>百分比:{point.percentage:.1f} %'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
		    showInLegend: true,
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '{point.percentage:.1f} %'
            }
        }
    },
    series:[{
	    name: '百分比统计',
        colorByPoint: true,
        data: JSON.parse({{ jsonify $yearAddPieData }})
	}] 
});
Highcharts.chart('section_month_chart', {
    chart: {
        type: 'line'
    },
    title: {
        text: '按月统计'
    },
    yAxis: {
        title: {
            text: '篇'
        }
    },
	xAxis: {
      type: 'datetime'
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: false
            },
            enableMouseTracking: true
        }
    },
    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    },
    series: [
	  {
        name: '按月新增',
	    color:"#0047AB",
        data: JSON.parse({{ jsonify $monthAddData }})
      },
	  {
        name: '按月累计',
	    color:"#16982b",
        data: JSON.parse({{ jsonify $monthTotalData }})
      }
	]
});
</script>