{{ $terms := .Data.Terms.ByCount -}}
{{ $tagCloud := slice -}}
{{- range $key, $value := $terms -}}
   	{{ $tagCloud = $tagCloud | append (dict "name" $value.Term "weight" (len $value.Pages)) -}}
{{ end -}}
<div id="tag_cloud_chart" class="chart_style"></div>
<div id="tag_heat_chart" class="chart_style"></div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/wordcloud.js"></script>
<script src="https://code.highcharts.com/modules/treemap.js"></script>
<script type="text/javascript">
var getRandomPosition = function getRandomPosition(size) {
  return Math.round((size * (Math.random() + 0.5)) / 2);
};

var randomPlacement = function randomPlacement(point, options) {
  var field = options.field,
    r = options.rotation;
  return {
    x: getRandomPosition(field.width) - (field.width / 2),
    y: getRandomPosition(field.height) - (field.height / 2),
    rotation: 0
  };
}
Highcharts.seriesTypes.wordcloud.prototype.placementStrategy.randomHorizontal = randomPlacement;

let cloudData = JSON.parse({{ jsonify $tagCloud -}});
let max=0,min=-10;
for(d of cloudData){
  if(d.weight > max){
    max = d.weight;
  }
  if(d.weight<min){
    min = d.weight;
  }
}

for(d of cloudData){
  let val = d.weight;
  d['val'] = val;
  val = (val-min)/(max-min);
  d.weight = val;
}
let heatData = cloudData.map(item => {
  return {
    ...item,
	val: item.val,
	value: item.weight,
	color: Highcharts.getOptions().colors[((Math.random() * 10 ) << 0)%10]
  };
});

Highcharts.chart('tag_cloud_chart', {
    series: [{
        type: 'wordcloud',
        data: cloudData,
		placementStrategy: 'randomHorizontal',
    }],
    title: {
        text: ''
    },
    tooltip: {
        formatter: function() {
           return '<b>' + this.point.name + '</b>:' + this.point.val;
        }
    }
});
Highcharts.chart('tag_heat_chart', {
	series: [{
		name: '标签',
		type: 'treemap',
		layoutAlgorithm: 'squarified',
		allowDrillToNode: true,
		animationLimit: 1000,
		dataLabels: {
			enabled: false
		},
		levels: [{
			level: 1,
			dataLabels: {
				enabled: true
			},
			borderWidth: 3,
			levelIsConstant: false
		}, {
			level: 1,
			dataLabels: {
				style: {
					fontSize: '14px'
				}
			}
		}],
		accessibility: {
			exposeAsGroupOnly: true
		},
		data: heatData
	}],
	title:{
      text:''
    },
	tooltip: {
        formatter: function() {
           return '<b>' + this.point.name + '</b>:' + this.point.val;
        }
    }
});
</script>